@import "../../index.scss";

.content__slidebar__main {
  display: flex;
  background-color: $background-color-main;
  justify-content: space-between;
  width: 100%;
  height: auto;
  .side__bar__list {
    width: 25%;
    height: auto;
  }
  .main {
    width: 37%;
    height: 91vh;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .side__bar__contact {
    width: 23%;
    overflow-y: auto;
    height: 91vh;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
