$background-global-dark:#333;
$background-global-light:#fff;

// Navigation 
$background-navigation:#242526;
$background-search:#3a3b3c;
// color icon
$background-icon:#353535;
$color-icon:#b0b3b8;
$color-pesernal-icon:white;
// menu
$background-menu:#323436;
